{% extends 'base.html' %}{% load compress %}
{% block content %}
<div class="page-header">
	<h1 class="text-danger">Annotate kill <small>{{ kill.killer.game.name }}</small></h1>
	<h3>{{ kill.victim.user.get_full_name }} ({{ kill.victim.bite_code }}) on {{ kill.date }}</h3>
</div>

<form role="form" method="post">
	{% csrf_token %}
	<input id="latField" type="hidden" name="lat" value="{{ form.lat.value }}">
	<input id="lngField" type="hidden" name="lng" value="{{ form.lng.value }}">
	<div class="form-group">
		<label for="killMap">Kill location</label>
		<span class="help-block">Left-click on map to mark location</span>
		{% if form.lat.errors or form.lng.errors %}
		<ul class="errorlist">
			<li><span class="text-danger">A valid location within the game boundaries must be specified.</span></li>
		</ul>
		{% endif %}
		<div class="row">
			<div class="col-lg-6">
				<div id="killMap" style="height: 350px;"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-lg-6">
				<label for="notes">Kill notes</label>
				<span class="help-block">Tell us how it all went down. Was it a quick, painless death for them
				or did your juicy human succumb only after a prolonged struggle? Feel free to tell the story of your kill using as
				few or as many words as you want.
				</span>
				{{ form.notes.errors }}
				<textarea id="notes" class="form-control" name="notes" rows="6" required>{{ form.notes.value|default_if_none:"" }}</textarea>
			</div>
		</div>
	</div>
	<button class="btn btn-danger" type="submit">Kill!</button>
</form>
{% endblock %}
{% block script %}
{% include 'google-maps-script.html' %}
{% compress js %}
<script type="text/coffeescript">

$(document).ready ->
	swPoint = new google.maps.LatLng(GAME_SW_BOUND[0], GAME_SW_BOUND[1])
	nePoint = new google.maps.LatLng(GAME_NE_BOUND[0], GAME_NE_BOUND[1])
	bounds = new google.maps.LatLngBounds(swPoint, nePoint)

	mapOptions = {
		center: new google.maps.LatLng(41.791395,-87.599694),
		zoom: 17
	}

	map = new google.maps.Map($('#killMap').get(0), mapOptions)

	lvc = map.getCenter()
	google.maps.event.addListener map, 'center_changed', (e) ->
		nc = map.getCenter()
		if bounds.contains(nc)
			lvc = nc
		else
			map.panTo(lvc)

	marker = new google.maps.Marker({map: map, icon: '{{ STATIC_URL }}img/skull.png'})
	google.maps.event.addListener map, 'click', (e) ->
		marker.setPosition(e.latLng)

	google.maps.event.addListener marker, 'position_changed', ->
		$('#latField').val(marker.position.lat())
		$('#lngField').val(marker.position.lng())

	if $('#latField').val() and $('#lngField').val()
		marker.setPosition(new google.maps.LatLng($('#latField').val(), $('#lngField').val()))

	if 'geolocation' of navigator
		navigator.geolocation.getCurrentPosition (pos) ->
			loc = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude)
			marker.setPosition(e.latLng)

</script>
{% endcompress %}
{% endblock %}
