{% extends 'base.html' %}{% load compress %}
{% block content %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<div class="page-header">
    <h1>Create or Join a Squad <small>{{ view.game.name }}</small></h1>
</div>

<form role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label for="createSquad">Create a new squad</label>
                {{ form.create_squad.errors }}
                <input id="createSquad" type="text" class="form-control" name="create_squad" placeholder="Enter new squad name">
            </div>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Create Squad</button>
</form>
<br/>
<form role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="row">
            <label>Join an existing squad</label><br/>
            <div class="col-md-4">
                {{ form.choose_squad }}
                {{ form.choose_squad.errors }}
            </div>
        </div>
    </div>

    <button class="btn btn-success" type="submit">Join squad</button>
</form>

{% endblock %}