{% extends 'base.html' %} {% block content %}
<div class="page-header">
  <h1 class="text-danger">Log a kill <small>{{ view.game.name }}</small></h1>
</div>

<form role="form" method="post">
  {% csrf_token %}
  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <label for="biteCode">Victim's bite code (required)</label>
        {{ form.bite_code.errors }}
        <input
          id="biteCode"
          type="text"
          class="form-control"
          name="bite_code"
          placeholder="two words"
          required
        />
      </div>
    </div>
  </div>
  <input id="latField" type="hidden" name="lat" value="" />
  <input id="lngField" type="hidden" name="lng" value="" />
  <div class="form-group">
    <label for="killMap">Kill location (required)</label>
    <span class="help-block">Left-click on map to mark location</span>
    {% if form.lat.errors or form.lng.errors %}
    <ul class="errorlist">
      <li>
        <span class="text-danger"
          >A valid location within the game boundaries must be specified.</span
        >
      </li>
    </ul>
    {% endif %}
    <div class="row">
      <div class="col-lg-6">
        <div id="killMap" style="height: 350px"></div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-lg-6">
        <label for="notes">Kill notes (optional, can be completed later)</label>
        <span class="help-block"
          >Tell us how it all went down. Was it a quick, painless death for them
          or did your juicy human succumb only after a prolonged struggle? Feel
          free to tell the story of your kill using as few or as many words as
          you want.
        </span>
        {{ form.notes.errors }}
        <textarea id="notes" class="form-control" name="notes" rows="6">
{{ form.notes.value|default_if_none:"" }}</textarea
        >
      </div>
    </div>
  </div>
  <button class="btn btn-danger" type="submit">Kill!</button>
</form>
{% endblock %}
