{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1 class="text-danger">IMPORTANT - HvZ CANCELED THURSDAY, FEBRUARY 26, 2015</h1>
</div>

<p>Due to extreme and unforeseen events, the Zombie Readiness Task Force has been forced to cancel gameplay from 6 am, February 26th to 11:59 pm February 26th. Due to recent and credible threats made against the speech by Charlie Hebdo journalist Zineb El Rhazoui, federal law enforcement officers will be patrolling campus tomorrow to provide security for the event. </p>

<p>Tomorrow, DO NOT wear your bandanas.</p>

<p>Tomorrow, DO NOT carry your nerf guns.</p>

<p>Tomorrow, DO NOT carry socks.</p>

<p class="text-danger">Tomorrow, during the time listed above, DO NOT engage in any HvZ combat activities.</p>

<p>During the suspension period, normal access to uchicagohvz.org will be disabled. The website will automatically resume normal operation at 12:00 am Friday, February 27th. We appreciate your cooperation at this time.</p>

<p>Please note that players violating the ban will be subject to disciplinary action by The University and potential legal charges. </p>

<p>We know this is inconvenient and we were told of this change in scheduling at approximately 4:30 this afternoon. We will do everything we can to make sure that this game runs to completion and is one of the best games this organization has ever run.</p>

<p>We also need your help. Please inform your friends who are playing the game so that all of the playerbase is aware of the changes made to the schedule in order to avoid repercussions due to ignorance.</p>

<p>An email will be forthcoming about the adjusted schedule once the game resumes on Friday, February 27th. Please stay tuned. We’re going to make this right.</p>

<p>The Mod Squad</p>

{% endblock %}