{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1 style="vertical-align:bottom; line-height:36px">Individual Leaderboards <small>{{ game.name }}</small> <a style="line-height:36px; font-size: 24px; float:right"href="{% url 'game|show' pk=game.pk %}">Back to Game</a></h1>
</div>
{% if game.status == 'in_progress' %}
<p class="center">The names of surviving humans have been obfuscated in the interest of national human security.</p>
{% endif %}
<div class="row">
	<div class="col-md-6">
		<h2><span class="bold text-success">HUMANS</span></h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Human Points</th>
				</tr>
			</thead>
			<tbody>
				{% for p in top_humans %}
				<tr>
					<td>
						<a href="{{ p.url }}">{{ p.display_name }}</a>
						{% if not p.human %}<span class="text-danger">(killed in action)</span>{% endif %}
					</td>
					<td>{{ p.human_points }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="col-md-6">
		<h2><span class="bold text-danger">ZOMBIES</span></h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Kills</th>
					<th>Zombie Points</th>
				</tr>
			</thead>
			<tbody>
				{% for p in top_zombies %}
				<tr>
					<td><a href="{{ p.url }}">{{ p.display_name }}</a></td>
					<td>{{ p.kills }}</td>
					<td>{{ p.zombie_points }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
