{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Register for game: {{ game.name }}</h1>
</div>

<form class="form-horizontal" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="dorm" class="col-lg-2 control-label">Where do you live?</label>
		<div class="col-lg-3">
			{{ form.dorm }}
			{{ form.dorm.errors }}
		</div>
	</div>
	<div class="form-group">
    	<div class="col-lg-offset-2 col-lg-10">
    		<div class="checkbox">
    			<label>
    				<input type="checkbox" name="renting_gun"> I am renting a gun for this game.
    			</label>
    			{{ form.renting_gun.errors }}
    		</div>
    	</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<div class="checkbox">
				<label>
					<input type="checkbox" name="agree"> 
					I have read and agree to the <a href="{{ game.rules.url }}" target="_blank">game rules</a> and the 
					<a href="{% url 'terms' %}" target="_blank">Terms and Conditions</a>.
				</label>
				{{ form.agree.errors }}
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-2 col-lg-10">
			<button type="submit" class="btn btn-primary">Register!</button>
		</div>
	</div>
</form>
{% endblock %}
