{% extends 'base.html' %}{% load mptt_tags %}{% load compress %}{% load game_extras %}
{% block content %}
<div class="page-header">
	<h1>{{ squad.name }} <small>{{ squad.game.name }}</small></h1>
</div>

<h2>Members ({{ squad.size }})</h2>
<ul class="bigger">
	{% for p in squad.get_active_players %}
	<li>{{ p.user.get_full_name }}</li>
	{% endfor %}
</ul>

<dl style="font-size: 15pt;">
	<dt>Deaths</dt>
	<dd>{{ squad.num_zombies }}</dd>
	<dt>Human Points</dt>
	<dd>{{ squad.human_points }} (#{{ squad.human_rank.0 }} of {{ squad.human_rank.1 }})</dd>
	{% if squad.num_zombies > 1 %}
	<dt>Kills</dt>
	<dd>{{ squad.kills.count }}</dd>
	<dt>Zombie Points</dt>
	<dd>{{ squad.zombie_points }} (#{{ squad.zombie_rank.0 }} of {{ squad.zombie_rank.1 }})</dd>
	{% endif %}
</dl>

<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Points</th>
					<th>For</th>
				</tr>
			</thead>
			<tbody>
				{% for kill in squad.get_kills %}
				<tr>
					<td>{{ kill.points }}</td>
					<td><a class="text-danger" href="{{ kill.get_absolute_url }}"> {{ kill.killer.display_name }} killed
						{{ kill.victim.display_name }} ({{ kill.victim.get_dorm_display }}) on {{ kill.date|date:"SHORT_DATE_FORMAT" }}</a>
						{% if kill.hvd %}<span class="text-info">HVD</span>{% endif %}{% if kill.hvt %} <span class="text-info">HVT</span>{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% for player in squad.get_active_players %}
				{% if player.human and player.hvt and player.hvt.award_points > 0 and player.hvt.expired %}
				<tr>
					<td>{{ player.hvt.award_points }}</td>
					<td><span class="text-success">{{ player.user.get_full_name }}: survived being a high-value target</span></td>
				</tr>
				{% endif %}
				{% endfor %}
				{% for award, award_count in player.awards.all %}
				{% for c in award_count %}
				<tr>
					<td>{{ award.points }}</td>
					<td>{{ award|award_colorize }}</td>
				</tr>
				{% endfor %}
				{% endfor %}
			</tbody>
		</table>
		{% if squad.get_kills.count > 0 %}
		<h2>Kills <small>geotagged kills only</small></h2>
		<div id="killMap" style="height: 350px;"></div>
		{% endif %}
	</div>
</div>

{% if kill_tree %}
<h2>Kill Tree</h2>
<ul>
    {% recursetree kill_tree %}
        <li>
            <a href="{% url 'player|show' pk=node.victim.id %}">{{ node.victim.display_name }} ({{ node.victim.get_dorm_display }})</a> - 
            	killed on {{ node.date }}
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endif %}
{% endblock %}
{% block script %}
{% if squad.get_kills.count > 0 %}
{% include 'includes/google-maps.html' %}
{% include 'includes/moment.html' %}
{% compress js %}
<script type="text/coffeescript">
swPoint = new google.maps.LatLng(GAME_SW_BOUND[0], GAME_SW_BOUND[1])
nePoint = new google.maps.LatLng(GAME_NE_BOUND[0], GAME_NE_BOUND[1])
bounds = new google.maps.LatLngBounds(swPoint, nePoint)
mapOptions = {
	center: new google.maps.LatLng(GAME_CENTER[0], GAME_CENTER[1]),
	zoom: 15
}
map = new google.maps.Map($('#killMap').get(0), mapOptions)
lvc = map.getCenter()
google.maps.event.addListener map, 'center_changed', (e) ->
	nc = map.getCenter()
	if bounds.contains(nc)
		lvc = nc
	else
		map.panTo(lvc)

$.get("data/kills/")
	.done (data) ->
		infoWin = new google.maps.InfoWindow()
		markers = []
		for k in data
			k.date = new Date(k.date)
			if k.location != null
				marker = new google.maps.Marker {
						map: map,
						icon: '{{ STATIC_URL }}img/skull.png',
						position: new google.maps.LatLng(k.location[0], k.location[1])
					}
				killDT = moment(k.date).format('M/D/YY h:mm:ss A')
				content = $("<ul><li><b>Killer:</b> #{k.killer}</li><li><b>Victim:</b> #{k.victim}</li><li><b>Date:</b> #{killDT}</li></ul>")
				content.css('width', '300px')
				markers.push([marker, k])
				google.maps.event.addListener marker, 'click', ((marker, content) ->
					return ->
						infoWin.setContent(content)
						infoWin.open(map, marker)
				)(marker, content.get(0))
</script>
{% endcompress %}
{% endif %}
{% endblock %}
