{% extends 'base.html' %}{% load mptt_tags %}{% load compress %}
{% block content %}
<div class="page-header">
	<h1><span class="text-danger">Kill: {{ kill.victim.display_name }}</span> <small>{{ kill.killer.game.name }}</small></h1>
</div>

{% if kill.killer.user == request.user %}
<a class="btn btn-primary" href="{% url 'kill|annotate' pk=kill.pk %}">Edit</a>
{% endif %}

<dl style="font-size: 15pt;">
	<dt>Killer</dt>
	<dd><a href="{{ kill.killer.get_absolute_url }}">{{ kill.killer.display_name }}</a></dd>
	<dt>Victim</dt>
	<dd><a href="{{ kill.victim.get_absolute_url }}">{{ kill.victim.display_name }}</a></dd>
	<dt>Time of Death</dt>
	<dd>{{ kill.date }}</dd>
	{% if kill.points > 1 %}
	<dt>Points</dt>
	<dd>{{ kill.points }}</dd>
	<dt>High-Value Residence</dt>
	<dd>{% if kill.hvd %}Yes{% else %}No{% endif %}</dd>
	<dt>High-Value Target</dt>
	<dd>{% if kill.hvt %}Yes{% else %}No{% endif %}</dd>
	{% endif %}
</dl>

{% if kill.notes %}
<h3>Kill Notes</h3>
<p>{{ kill.notes }}</p>
{% endif %}

{% if kill.victim.last_words %}
<h3>Victim's Last Words</h3>
<p>{{ kill.victim.last_words }}</p>
{% endif %}

{% if kill.lat and kill.lng %}
<h3>Kill Location</h3>
<div id="killMap" style="height: 500px;"></div>
{% endif %}

{% endblock %}
{% block script %}
{% if kill.lat and kill.lng %}
{% include 'includes/google-maps.html' %}
<script>
var KILL_LAT = {{ kill.lat }};
var KILL_LNG = {{ kill.lng }};
</script>
{% compress js %}
<script type="text/coffeescript">
swPoint = new google.maps.LatLng(GAME_SW_BOUND[0], GAME_SW_BOUND[1])
nePoint = new google.maps.LatLng(GAME_NE_BOUND[0], GAME_NE_BOUND[1])
bounds = new google.maps.LatLngBounds(swPoint, nePoint)
mapOptions = {
	center: new google.maps.LatLng(KILL_LAT, KILL_LNG),
	zoom: 15,
	styles: STYLE
}
map = new google.maps.Map($('#killMap').get(0), mapOptions)
lvc = map.getCenter()
google.maps.event.addListener map, 'center_changed', (e) ->
	nc = map.getCenter()
	if bounds.contains(nc)
		lvc = nc
	else
		map.panTo(lvc)

marker = new google.maps.Marker {
	map: map,
	icon: '{{ STATIC_URL }}img/skull.png',
	position: new google.maps.LatLng(KILL_LAT, KILL_LNG)
}
</script>
{% endcompress %}
{% endif %}
{% endblock %}
