{% extends 'base.html' %}{% load mptt_tags %}{% load compress %}{% load game_extras %}
{% block content %}
<div class="page-header">
	<h1>{{ squad.name }} <small>{{ squad.game.name }}</small></h1>
</div>

<h2>Members ({{ squad.size }})</h2>
<ul class="bigger list-unstyled">
	{% for p in squad.get_active_players %}
	<li><a href="{{ p.get_absolute_url }}"><span class="text-{% if p.human %}success{% else %}danger{% endif %}">{{ p.display_name }}</span></a></li>
	{% endfor %}
</ul>

<dl style="font-size: 15pt;">
	<dt>Deaths</dt>
	<dd>{{ squad.num_zombies }}</dd>
	<dt>Human Squad Points</dt>
	<dd>{{ squad.human_points|floatformat:1 }} (#{{ squad.human_rank.0 }} of {{ squad.human_rank.1 }})</dd>
	{% if squad.num_zombies > 1 %}
	<dt>Kills</dt>
	<dd>{{ squad.get_kills.count }}</dd>
	<dt>Zombie Squad Points</dt>
	<dd>{{ squad.zombie_points|floatformat:1 }} (#{{ squad.zombie_rank.0 }} of {{ squad.zombie_rank.1 }})</dd>
	{% endif %}
</dl>

{% if squad.human_points or squad.zombie_points %}
<div class="row">
	<div class="col-md-8">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Points</th>
					<th>For</th>
				</tr>
			</thead>
			<tbody>
				{% for kill in squad.get_kills %}
				<tr>
					<td>{{ kill.points }}</td>
					<td><a class="text-danger" href="{{ kill.get_absolute_url }}">{{ kill.killer.display_name }} killed
						{{ kill.victim.display_name }} on {{ kill.date }}</a>
						{% if kill.hvd %}<span class="text-info">HVD</span>{% endif %}{% if kill.hvt %} <span class="text-info">HVT</span>{% endif %}
						{% if kill.geotagged %}<span class="glyphicon glyphicon-globe"></span>{% endif %}
						{% if kill.notes %}<span class="glyphicon glyphicon-pencil"></span>{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% for player in squad.get_active_players %}
				{% if player.human and player.hvt and player.hvt.award_points > 0 and player.hvt.expired %}
				<tr>
					<td>{{ player.hvt.award_points }}</td>
					<td><span class="text-success">{{ player.user.get_full_name }}: survived being a high-value target</span></td>
				</tr>
				{% endif %}
				{% endfor %}
				{% for award, pl in squad.get_awards %}
				{% for p in pl %}
				<tr>
					<td>{{ award.points }}</td>
					<td>{{ award|award_colorize }} <a href="{{ p.get_absolute_url }}">{{ p.display_name }}</a></td>
				</tr>
				{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% if squad.get_kills.count > 0 %}
<h2>Kills <small>geotagged kills only</small></h2>
<div id="killMap" style="height: 500px;"></div>
{% endif %}
{% endblock %}
{% block script %}
{% if squad.get_kills.count > 0 %}
{% include 'includes/google-maps.html' %}
{% include 'includes/moment.html' %}
{% compress js %}
<script type="text/coffeescript">
swPoint = new google.maps.LatLng(GAME_SW_BOUND[0], GAME_SW_BOUND[1])
nePoint = new google.maps.LatLng(GAME_NE_BOUND[0], GAME_NE_BOUND[1])
bounds = new google.maps.LatLngBounds(swPoint, nePoint)
mapOptions = {
	center: new google.maps.LatLng(GAME_CENTER[0], GAME_CENTER[1]),
	zoom: 15,
	styles: STYLE
}
map = new google.maps.Map($('#killMap').get(0), mapOptions)
lvc = map.getCenter()
google.maps.event.addListener map, 'center_changed', (e) ->
	nc = map.getCenter()
	if bounds.contains(nc)
		lvc = nc
	else
		map.panTo(lvc)

$.get("data/kills/")
	.done (data) ->
		infoWin = new google.maps.InfoWindow()
		markers = []
		for k in data
			k.date = new Date(k.date)
			if k.location != null
				marker = new google.maps.Marker {
						map: map,
						icon: '{{ STATIC_URL }}img/skull.png',
						position: new google.maps.LatLng(k.location[0], k.location[1])
					}
				killDT = moment(k.date).format('D/M/YY h:mm:ss A')
				content = $(
					"<ul>
						<li><b>Killer:</b> #{k.killer}</li>
						<li><b>Victim:</b> #{k.victim}</li>
						<li><b>Date:</b> #{killDT}</li>
						<li><a href=\"/kill/#{ k.id }/\" target='_blank' style='color: gray; font-weight: bold;'>Details</a></li>
					</ul>"
				)
				content.css('width', '300px')
				markers.push([marker, k])
				google.maps.event.addListener marker, 'click', ((marker, content) ->
					return ->
						infoWin.setContent(content)
						infoWin.open(map, marker)
				)(marker, content.get(0))
</script>
{% endcompress %}
{% endif %}
{% endblock %}
