{% extends 'base.html' %}{% load mptt_tags %}{% load compress %}{% load cache %}
{% block content %}
<div class="page-header">
	<h1>{{ game.name }}</h1>
</div>

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<div>
	<h2>Rules</h2>
	<p class="text-primary">
		Make sure you have read the <a href="{{ game.rules.url }}">game rules</a> before playing.
	</p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>Important Dates</h2>
		<dl class="dl-horizontal">
			<dt>Registration starts</dt>
			<dd>{{ game.registration_date }}</dd>
			<dt>Game starts</dt>
			<dd>{{ game.start_date }}</dd>
			<dt>Game ends</dt>
			<dd>{{ game.end_date }}</dd>
		</dl>
	</div>
	<div class="col-lg-4">
		<h2>Game Status</h2>
		{% if game.status == "registration" %}
		<h4 class="text-info">Open for registration</h4>
		{% if not player %}
		<p><a class="btn btn-primary" href="{% url 'game|register' pk=game.pk %}">Register</a></p>
		{% else %}
		<p class="text-success">You have already registered for this game. Sit tight!</p>
		{% endif %}
		{% elif game.status == "in_progress" %}
		<h4 class="text-success">LIVE</h4> 
		<p><b>{{ game.end_date|timeuntil }}</b> until it all ends.</p>
		{% if user.is_authenticated and not player %}
		<p class="text-info">Interested in joining this game? Please contact a moderator.</p>
		{% endif %}
		{% elif game.status == "finished" %}
		<h4 class="text-info">Finished</h4>
		{% elif game.status == "future" %}
		<h4 class="text-warning">Future game</h4>
		{% endif %}
		{% if player %}
		{% if game.status != "in_progress" or not player.active %}
		<dl class="dl-horizontal">
			<dt>Your dorm</dt>
			<dd>{{ player.get_dorm_display }}</dd>
			<dt>Your major</dt>
			<dd>{{ player.major }}</dd>
			<dt>Renting Gun</dt>
			<dd>{{ player.renting_gun|yesno:"Yes,No,N/A" }}</dd>
		</dl>
		{% endif %}
		{% if game.status == "finished" and player.renting_gun and not player.gun_returned %}
		<p class="text-danger">Please return your gun as soon as possible!</p>
		{% endif %}
		{% endif %}
		
	</div>
	<div class="col-lg-4">
		<h2>Players</h2>
		<dl class="dl-horizontal">
			{% if game.status == "registration" or game.status == "future" %}
			<dt>Registered</dt>
			<dd>{{ game.get_registered_players.count }}</dd>
			{% else %}
			<dt>Total</dt>
			<dd>{{ game.get_active_players.count }}</dd>
			<dt>Humans</dt>
			<dd>{{ game.get_humans.count }} ({{ humans_percent }}%)</dd>
			<dt>Zombies</dt>
			<dd>{{ game.get_zombies.count }} ({{ zombies_percent }}%)</dd>
			{% endif %}
		</dl>
	</div>
</div>

{% if player %}
{% if player.active %}
<hr>
<div class="row">
	<div class="col-lg-4">
		<h2>I am a...</h2>
		{% if player.human %}
		<h3 class="text-success">HUMAN</h3>
		{% else %}
		<h3 class="text-danger">ZOMBIE</h3>
		{% if killed_by and killed_by != player %}
		<p class="text-danger">Killed by {{ killed_by.user.get_full_name }} ({{ killed_by.bite_code }})
		{% endif %}
		<h3>My Bite Code</h3>
		<h4 style="font-weight: bold;">{{ player.bite_code }}</h4>
		{% if game.status == 'in_progress' %}
		<a class="btn btn-danger btn-block" href="{% url 'game|bite' pk=game.pk %}">Log a kill...</a>
		<p class="bold text-info">
			***Kills are timestamped at the time of submission, so enter bite codes as soon as possible!***
		</p>
		
		<h2>Enter Mission Code</h2>
		<form class="form-inline" role="form" action="{% url 'game|code' pk=game.pk %}" method="post">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" class="form-control" name="code" placeholder="Enter mission code" required>
			</div>
			<div class="form-group">
				<button class="btn btn-success" type="submit">Submit</button>
			</div>
		</form>
		<p class="text-warning" style="margin-top: 1em;">
		{% if player.user.profile.phone_number %}
			You can also text bite codes and mission codes (one code per message) to <b>{{ sms_code_number }}</b>!*
		{% else %}
			Add your phone number to your <a href="{% url 'users|profile' %}">profile</a> so you can submit
			bite codes and mission codes via text message!
		{% endif %}
		</p>
		<p class="text-default">
			* Standard text messaging rates apply. We recommend that you submit bite codes online instead of texting
			whenever possible, so that you can geotag your kills.
		</p>
		{% endif %}
		{% endif %}
	</div>
	<div class="col-lg-4">
		<h2>My Info</h2>
		<dl class="dl-horizontal">
			<dt>Your dorm</dt>
			<dd>{{ player.get_dorm_display }}</dd>
			<dt>Your major</dt>
			<dd>{{ player.major }}</dd>
			<dt>Renting Gun</dt>
			<dd>{{ player.renting_gun|yesno:"Yes,No,N/A" }}</dd>
			<dt>Gun returned</dt>
			<dd>{{ player.gun_returned|yesno:"Yes,No,N/A" }}</dd>
		</dl>
		{% if game.status == 'in_progress' %}
		{% if player.user.profile.phone_number %}
		{% if player.user.profile.subscribe_death_notifications %}
		<p class="text-success">We'll send death notifications to you via text message.
			You can disable these in your <a href="{% url 'users|profile' %}">profile</a>.
		</p>
		{% else %}
		<p class="text-danger">
			You have elected not to received death notifications.
		</p>
		{% endif %}
		{% else %}
		<p class="text-warning">We don't have a phone number on file for you! Add it to your <a href="{% url 'users|profile' %}">profile</a>
			and check the appropriate box if you want to receive death notifications via text message.*
		</p>
		<p class="text-default">* Standard text messaging rates apply.</p>
		{% endif %}
		{% endif %}
	</div>
	<div class="col-lg-4">
		<h2>My Score</h2>
		<h3 style="font-weight: bold; font-size: 15pt;">{{ player.points }} points</h3>
		{% if player.score != 0 or player.awards.all.count %}
		{% if not player.human %}
		<p class="text-info">
			<b>NOTE: </b>Points earned when you were still human are not counted in the official score rankings.
		</p>
		{% endif %}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Points</th>
					<th>For</th>
				</tr>
			</thead>
			<tbody>
				{% for kill in player.kills %}
				<tr>
					<td>{{ kill.points }}</td>
					<td>Kill: {{ kill.victim.user.get_full_name }} ({{ kill.victim.display_name }}) on {{ kill.date|date:"SHORT_DATE_FORMAT" }} {% if kill.notes %} [{{ kill.notes}}]{% endif %}</td>
				</tr>
				{% endfor %}
				{% for award in player.awards.all %}
				<tr>
					<td>{{ award.points }}</td>
					<td>{{ award.name }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		
	</div>
</div>
{% elif game.status == "in_progress" %}
<h3 class="text-danger">You have not been activated yet for this game. Please contact a moderator for assistance.</h3>
{% endif %}
{% endif %}

{% if game.status == "in_progress" or game.status == "finished" %}
<hr>
<div class="center">
	<h2>Average Kills per Hour</h2>
	<p class="lead text-danger">{{ kills_per_hour|floatformat:2 }}</p>
	<p>All data below is updated in real time.</p>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Survival by Dorm</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Dorm</th>
					<th>Humans Alive</th>
				</tr>
			</thead>
			<tbody>
				{% for e in survival_by_dorm %}
				<tr>
					<td>{{ e.dorm }}</td>
					<td>{{ e.alive }}/{{ e.original }} ({{e.percent|floatformat}}%)</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Kills by Location <small>geotagged kills only</small></h2>
		<div id="killMap" style="height: 350px;"></div>
		<div class="center">
			<div id="mapTimeFilters" class="btn-group" data-toggle="buttons">
				<label class="btn btn-danger">
					<input type="radio" name="mapTime" value="all" checked="checked"> all
				</label>
				{% if player and not player.human %}
				<label class="btn btn-danger">
					<input type="radio" name="mapTime" value="my-kills"> my kills
				</label>
				{% endif %}
				<label class="btn btn-danger">
					<input type="radio" name="mapTime" value="1"> last hour
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="mapTime" value="6"> last 6 hours
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="mapTime" value="12"> last 12 hours
				</label>
				<label class="btn btn-danger">
					<input type="radio" name="mapTime" value="24"> last 24 hours
				</label>
			</div>
		</div>
		<h2>Human Survival</h2>
		<div id="hphChart"></div>
		<h2>Kills by Time of Day</h2>
		<div id="todChart"></div>
	</div>
	<div class="col-md-6">
		<h2>Top Humans</h2>
		{% if game.status == "in_progress" %}
		<p>The names of surviving humans have been obfuscated in the interest of national human security.</p>
		{% endif %}
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				{% for p in top_humans %}
				<tr>
					<td>{{ p.display_name }}</td>
					<td>{{ p.human_points }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Top Zombies</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Kills</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				{% for p in top_zombies %}
				<tr>
					<td>{{ p.display_name }}</td>
					<td>{{ p.kills.count }}</td>
					<td>{{ p.zombie_points }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Most Courageous Dorms</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Dorm</th>
					<th>Ounces of Courage</th>
				</tr>
			</thead>
			<tbody>
				{% for e in most_courageous_dorms %}
				<tr>
					<td>{{ e.dorm }}</td>
					<td>{{ e.points|floatformat }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h2>Most Infectious Dorms</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Dorm</th>
					<th>Infectivity</th>
				</tr>
			</thead>
			<tbody>
				{% for e in most_infectious_dorms %}
				<tr>
					<td>{{ e.dorm }}</td>
					<td>{{ e.points|floatformat }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endif %}

{% if kill_tree %}
<hr>
<h2>{% if personal_kill_tree %}My {% endif %}Kill Tree</h2>
<ul>
    {% recursetree kill_tree %}
        <li>
            {{ node.victim.user.get_full_name }} - {{ node.victim.bite_code }} - killed {{ node.date }}
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endif %}
{% endblock %}

{% block script %}
{% if game.status == "in_progress" or game.status == "finished" %}
{% include 'google-maps-script.html' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.2.1/moment.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highcharts/3.0.2/highcharts.js"></script>
<script>
{% if player %}
var PLAYER_NAME = '{{ player.display_name }}';
{% else %}
var PLAYER_NAME = null;
{% endif %}
</script>
{% compress js %}
<script type="text/coffeescript">
swPoint = new google.maps.LatLng(GAME_SW_BOUND[0], GAME_SW_BOUND[1])
nePoint = new google.maps.LatLng(GAME_NE_BOUND[0], GAME_NE_BOUND[1])
bounds = new google.maps.LatLngBounds(swPoint, nePoint)
mapOptions = {
	center: new google.maps.LatLng(41.789553, -87.598586),
	zoom: 15
}
map = new google.maps.Map($('#killMap').get(0), mapOptions)
lvc = map.getCenter()
google.maps.event.addListener map, 'center_changed', (e) ->
	nc = map.getCenter()
	if bounds.contains(nc)
		lvc = nc
	else
		map.panTo(lvc)

$.get("data/kills/")
	.done (data) ->
		infoWin = new google.maps.InfoWindow()
		markers = []
		for k in data
			k.date = new Date(k.date)
			if k.location != null
				marker = new google.maps.Marker {
						map: map,
						icon: '{{ STATIC_URL }}img/skull.png',
						position: new google.maps.LatLng(k.location[0], k.location[1])
					}
				killDT = moment(k.date).format('M/D/YY h:mm:ss A')
				content = $("<ul><li><b>Killer:</b> #{k.killer}</li><li><b>Victim:</b> #{k.victim}</li><li><b>Date:</b> #{killDT}</li></ul>")
				content.css('width', '300px')
				markers.push([marker, k])
				google.maps.event.addListener marker, 'click', ((marker, content) ->
					return ->
						infoWin.setContent(content)
						infoWin.open(map, marker)
				)(marker, content.get(0))
				
		
		$('#mapTimeFilters label').click (e) ->
			inp = $(this).children('input')
			if inp.val() == 'all'
				markers.forEach (o) ->
					o[0].setVisible true
				return
			else if inp.val() == 'my-kills'
				markers.forEach (o) ->
					if o[1].killer == PLAYER_NAME
						o[0].setVisible true
					else
						o[0].setVisible false
			else
				hours = parseInt inp.val()
				now = Date.now()
				markers.forEach (o) ->
					m = o[0]
					k = o[1]
					if now - k.date.getTime() <= hours * 3600 * 1000
						m.setVisible true
					else
						m.setVisible false




whiteStyle = {color: "white"}
$.get("data/humans-per-hour/")
	.done (data) ->
		$("#hphChart").highcharts {
			chart: {
				type: 'line',
				backgroundColor: '#333',
			},
			credits: {
				enabled: false
			},
			legend: {
				backgroundColor: 'white';
			},
			title: {
				text: null,
			},
			xAxis: {
				tickInterval: null,
				title: {
					text: 'Hours into game',
					style: whiteStyle
				},
				labels: {
					style: whiteStyle
				}
			},
			yAxis: {
				title: {
					text: '# humans',
					style: whiteStyle,
				},
				tickInterval: null,
				labels: {
					style: whiteStyle
				}
			},
			series: data
		}

$.get("data/kills-by-tod/")
	.done (data) ->
		$("#todChart").highcharts {
			chart: {
				type: 'column',
				backgroundColor: '#333',
			},
			credits: {
				enabled: false
			},
			legend: {
				enabled: false
			},
			title: {
				text: null,
			},
			xAxis: {
				tickInterval: 1,
				title: {
					text: 'Time of Day',
					style: whiteStyle
				},
				labels: {
					style: whiteStyle
				},
				categories: [
					'12a', '1a', '2a', '3a', '4a', '5a', '6a', '7a', '8a', '9a', '10a', '11a',
					'12p', '1p', '2p', '3p', '4p', '5p', '6p', '7p', '8p', '9p', '10p', '11p'
				]
			},
			yAxis: {
				title: {
					text: 'cumulative # of kills',
					style: whiteStyle
				},
				tickInterval: 1,
				labels: {
					style: whiteStyle
				}
			},
			series: [
				{
					data: data,
					color: '#800000',
					name: 'Kills'
				}
			]
		}
</script>
{% endcompress %}
{% endif %}
{% endblock %}
