{% extends 'base.html' %}{% load mptt_tags %}{% load compress %}
{% block content %}
<div class="page-header">
	<h1>{{ game.name }}</h1>
</div>

{% for message in messages %}
<div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}

<div>
	<h2>Rules</h2>
	<p class="text-primary">
		Make sure you have read the <a href="{{ game.rules.url }}">game rules</a> before playing.
	</p>
</div>

<div class="row">
	<div class="col-lg-4">
		<h2>Important Dates</h2>
		<dl class="dl-horizontal">
			<dt>Registration starts</dt>
			<dd>{{ game.registration_date }}</dd>
			<dt>Game starts</dt>
			<dd>{{ game.start_date }}</dd>
			<dt>Game ends</dt>
			<dd>{{ game.end_date }}</dd>
		</dl>
	</div>
	<div class="col-lg-4">
		<h2>Game Status</h2>
		{% if game.status == "registration" %}
		<h4 class="text-info">Open for registration</h4>
		{% if not player %}
		<p><a class="btn btn-primary" href="{% url 'game|register' pk=game.pk %}">Register</a></p>
		{% else %}
		<p class="text-success">You have already registered for this game. Sit tight!</p>
		{% endif %}
		{% elif game.status == "in_progress" %}
		<h4 class="text-success">LIVE</h4> 
		<p><b>{{ game.end_date|timeuntil }}</b> until it all ends.</p>
		{% if user.is_authenticated and not player %}
		<p>Interested in joining this game? Please contact a moderator.</p>
		{% endif %}
		{% elif game.status == "finished" %}
		<h4 class="text-info">Finished</h4>
		{% elif game.status == "future" %}
		<h4 class="text-warning">Future game</h4>
		{% endif %}
		{% if player and game.status != "in_progress" or not player.active %}
		<dl class="dl-horizontal">
			<dt>Your dorm</dt>
			<dd>{{ player.get_dorm_display }}</dd>
			<dt>Your major</dt>
			<dd>{{ player.major }}</dd>
			<dt>Renting Gun</dt>
			<dd>{{ player.renting_gun|yesno:"Yes,No,N/A" }}</dd>
		</dl>
		{% if game.status == "finished" and player.renting_gun and not player.gun_returned %}
		<p class="text-danger">Please return your gun as soon as possible!</p>
		{% endif %}
		{% endif %}
		
		
	</div>
	<div class="col-lg-4">
		<h2>Players</h2>
		<dl class="dl-horizontal">
			{% if game.status == "registration" or game.status == "future" %}
			<dt>Registered</dt>
			<dd>{{ game.get_registered_players.count }}</dd>
			{% else %}
			<dt>Total</dt>
			<dd>{{ game.get_active_players.count }}</dd>
			<dt>Humans</dt>
			<dd>{{ game.get_humans.count }} ({{ humans_percent }}%)</dd>
			<dt>Zombies</dt>
			<dd>{{ game.get_zombies.count }} ({{ zombies_percent }}%)</dd>
			{% endif %}
		</dl>
	</div>
</div>
{% if game.status == "in_progress" %}
{% if player %}
{% if player.active %}
<hr>
<div class="row">
	<div class="col-lg-4">
		<h2>I am a...</h2>
		{% if player.human %}
		<h3 class="text-success">HUMAN</h3>
		{% else %}
		<h3 class="text-danger">ZOMBIE</h3>
		{% if killed_by and killed_by != player %}
		<p class="text-danger">Killed by {{ killed_by.user.get_full_name }} ({{ killed_by.bite_code }})
		{% endif %}
		{% endif %}
		<dl class="dl-horizontal">
			<dt>Your dorm</dt>
			<dd>{{ player.get_dorm_display }}</dd>
			<dt>Your major</dt>
			<dd>{{ player.major }}</dd>
			<dt>Renting Gun</dt>
			<dd>{{ player.renting_gun|yesno:"Yes,No,N/A" }}</dd>
			<dt>Gun returned</dt>
			<dd>{{ player.gun_returned|yesno:"Yes,No,N/A" }}</dd>
		</dl>
	</div>
	<div class="col-lg-4">
		{% if player.human %}
		<h2>My Bite Code</h2>
		<h4 style="font-weight: bold;">{{ player.bite_code }}</h4>
		{% else %}
		<h2>Enter Bite Code</h2>
		<form role="form" action="{% url 'game|bite' pk=game.pk %}" method="post">
			{% csrf_token %}
			<div class="form-group col-lg-8">
				<input type="text" class="form-control" name="bite_code" required>
			</div>
			<div class="form-group">
				<button class="btn btn-danger" type="submit">Kill!</button>
			</div>
		</form>
		{% endif %}
	</div>
	<div class="col-lg-4">
		<h2>My Score</h2>
		<h3 style="font-weight: bold; font-size: 15pt;">{{ player.points }} points</h3>
		{% if player.kills.count or player.awards.all.count %}
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Points</th>
					<th>For</th>
				</tr>
			</thead>
			<tbody>
				{% for kill in player.kills %}
				<tr>
					<td>{{ kill.points }}</td>
					<td>Kill: {{ kill.victim.user.get_full_name }}</td>
				</tr>
				{% endfor %}
				{% for award in player.awards.all %}
				<tr>
					<td>{{ award.points }}</td>
					<td>{{ award.name }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% endif %}
		<form role="form" action="{% url 'game|code' pk=game.pk %}" method="post">
			{% csrf_token %}
			<div class="form-group col-lg-8">
				<input type="text" class="form-control" name="code" placeholder="Enter mission code" required>
			</div>
			<div class="form-group">
				<button class="btn btn-success" type="submit">Submit</button>
			</div>
		</form>
	</div>
</div>
{% else %}
<h3 class="text-danger">You have not been activated for this game. Please contact a moderator for assistance.</h3>
{% endif %}
{% endif %}
{% endif %}

<hr>
<div class="row">
	<div class="col-md-6">
		<h2>Human Survival</h2>
		<div id="hphChart"></div>
		{% if kills_per_hour %}
		<h2>Average Kills per Hour</h2>
		<p>{{ kills_per_hour|floatformat:2 }}</p>
		{% endif %}
	</div>
</div>

{% if kill_tree %}
<hr>
<h2>Kill Tree</h2>
<ul>
    {% recursetree kill_tree %}
        <li>
            {{ node.victim.user.get_full_name }} ({{ node.victim.bite_code }})
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endif %}
{% endblock %}

{% block script %}
<script src="{{ STATIC_URL }}js/vendor/highcharts.js"></script>
{% compress js %}
<script type="text/coffeescript">

$.get("data/hph/")
	.done (data) ->
		$("#hphChart").highcharts {
			chart: {
				type: 'line',
				backgroundColor: '#333',
			},
			legend: {
				backgroundColor: 'white';
			}
			title: {
				text: null,
			}
			xAxis: {
				tickInterval: null,
				title: {
					text: "Hours into game"
				}
			},
			yAxis: {
				title: {
					text: '# humans'
				}
				tickInterval: 1
			},
			series: data
		}
</script>
{% endcompress %}
{% endblock %}