{% extends 'base.html' %}{% load mptt_tags %}{% load compress %}{% load game_extras %}
{% block content %}
<div class="page-header">
	<h1>{{ player.display_name }} <small>{{ player.game.name }}</small></h1>
</div>

<dl style="font-size: 15pt;">
	<dt>Status</dt>
	<dd>{% if player.human %}<span class="text-success">HUMAN</span>{% else %}<span class="text-danger">ZOMBIE</span>{% endif %}
	<dt>Dorm</dt>
	<dd>{{ player.get_dorm_display }}</dd>
	{% if player.squad %}
	<dt>Squad</dt>
	<dd><a href="{{ player.squad.get_absolute_url }}">{{ player.squad.name }}</a></dd>
	{% endif %}
	<dt>Major</dt>
	<dd>{{ player.major }}</dd>
	<dt>Human Points</dt>
	<dd>{{ player.human_points }} (#{{ player.human_rank.0 }} of {{ player.human_rank.1 }})</dd>
	{% if not player.human %}
	{% if player.kill_object %}
	<dt>Killed by</dt>
	<dd><a href="{{ player.kill_object.get_absolute_url }}">{{ player.killed_by.display_name }}</a> on {{ player.time_of_death }}</a></dd>
	{% endif %}
	<dt>Kills</dt>
	<dd>{{ player.kills.count }}</dd>
	<dt>Zombie Points</dt>
	<dd>{{ player.zombie_points }} (#{{ player.zombie_rank.0 }} of {{ player.zombie_rank.1 }})</dd>
	{% endif %}
</dl>

<div class="row">
	<div class="col-md-6">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Points</th>
					<th>For</th>
				</tr>
			</thead>
			<tbody>
				{% for kill in player.kills %}
				<tr>
					<td>{{ kill.points }}</td>
					<td><a class="text-danger" href="{{ kill.get_absolute_url }}">Kill: {{ kill.victim.display_name }} ({{ kill.victim.get_dorm_display }})
						on {{ kill.date|date:"SHORT_DATE_FORMAT" }}</a>
						{% if kill.hvd %}<span class="text-info">HVD</span>{% endif %}{% if kill.hvt %} <span class="text-info">HVT</span>{% endif %}
					</td>
				</tr>
				{% endfor %}
				{% if player.human and player.hvt and player.hvt.award_points > 0 and player.hvt.expired %}
				<tr>
					<td>{{ player.hvt.award_points }}</td>
					<td><span class="text-success">Survived being a High-Value Target</span></td>
				</td>
				{% endif %}
				{% for award in player.awards.all %}
				<tr>
					<td>{{ award.points }}</td>
					<td>{{ award|award_colorize }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% if player.human == False and player.kills.count > 0 %}
<h2>Kills <small>geotagged kills only</small></h2>
<div id="killMap" style="height: 500px;"></div>
{% endif %}

{% if kill_tree %}
<h2>Kill Tree</h2>
<ul>
    {% recursetree kill_tree %}
        <li>
            <a href="{% url 'player|show' pk=node.victim.id %}">{{ node.victim.display_name }} ({{ node.victim.get_dorm_display }})</a> - 
            	killed on {{ node.date }}
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
{% endif %}
{% endblock %}
{% block script %}
{% if player.human == False and player.kills > 0 %}
{% include 'includes/google-maps.html' %}
{% include 'includes/moment.html' %}
{% compress js %}
<script type="text/coffeescript">
swPoint = new google.maps.LatLng(GAME_SW_BOUND[0], GAME_SW_BOUND[1])
nePoint = new google.maps.LatLng(GAME_NE_BOUND[0], GAME_NE_BOUND[1])
bounds = new google.maps.LatLngBounds(swPoint, nePoint)
mapOptions = {
	center: new google.maps.LatLng(GAME_CENTER[0], GAME_CENTER[1]),
	zoom: 15
}
map = new google.maps.Map($('#killMap').get(0), mapOptions)
lvc = map.getCenter()
google.maps.event.addListener map, 'center_changed', (e) ->
	nc = map.getCenter()
	if bounds.contains(nc)
		lvc = nc
	else
		map.panTo(lvc)

$.get("data/kills/")
	.done (data) ->
		infoWin = new google.maps.InfoWindow()
		markers = []
		for k in data
			k.date = new Date(k.date)
			if k.location != null
				marker = new google.maps.Marker {
						map: map,
						icon: '{{ STATIC_URL }}img/skull.png',
						position: new google.maps.LatLng(k.location[0], k.location[1])
					}
				killDT = moment(k.date).format('M/D/YY h:mm:ss A')
				content = $("<ul><li><b>Killer:</b> #{k.killer}</li><li><b>Victim:</b> #{k.victim}</li><li><b>Date:</b> #{killDT}</li></ul>")
				content.css('width', '300px')
				markers.push([marker, k])
				google.maps.event.addListener marker, 'click', ((marker, content) ->
					return ->
						infoWin.setContent(content)
						infoWin.open(map, marker)
				)(marker, content.get(0))
</script>
{% endcompress %}
{% endif %}
{% endblock %}
