{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>About</h1>
</div>

<p>
	This web application was originally developed by <a href="https://github.com/kz26">Kevin Zhang</a> (Computer Science SB'13) in conjunction with the Zombie Readiness Task Force and is maintained and updated by <a href="https://github.com/ceidsmoe">Chris Eidsmoe</a> (Computer Science SB'17).
</p>
<p>
	This Rhodes University version was adapted by <a href="http://greglinklater.co.za/">Greg Linklater</a> and <a href="http://meerkatio.net/">Craig Marais</a>.
</p>
<p>
	The <a href="https://github.com/EternalDeiwos/uchicago-hvz">source code</a> is available under the terms of the MIT license.
</p>
{% endblock %}
