{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>About</h1>
</div>

<p>
	This web application was developed by <a href="https://github.com/kz26">Kevin Zhang</a> (Computer Science SB'13) in conjunction with the Zombie Readiness Task Force.
	The UChicago HvZ logo was originally created by Jim Duehr and is used with permission.
</p>

<p>
	The <a href="https://github.com/uchicago-hvz/uchicago-hvz">source code</a> is available under the terms of the MIT license.
</p>
{% endblock %}