<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
		<head>
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
				<title>UChicago Humans vs. Zombies</title>
				<meta name="description" content="Humans vs. Zombies at the University of Chicago.">
				<meta name="viewport" content="width=device-width">

				<link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.ico">

				<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.3.2/slate/bootstrap.min.css">
				<style>
						body {
								padding-top: 50px;
								padding-bottom: 20px;
						}
				</style>
				<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">


				{% block optstyle %}{% endblock %}
				<!--[if lt IE 9]>
						<script src="{{ STATIC_URL }}js/vendor/html5-3.6-respond-1.1.0.min.js"></script>
				<![endif]-->
                {% block head %}{% endblock %}
		</head>
		<body>
		<div class="navbar navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="glyphicon glyphicon-chevron-down white"></span>

					</button>
					<a class="navbar-brand" href="/">UChicago HvZ</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						{% if user.is_staff %}<li><a href="{% url "admin:index" %}">Admin Panel</a></li>{% endif %}
						<li><a href="{% url 'users|contact' %}">Contact</a></li>
						<li><a href="{% url 'faq' %}">FAQ</a></li>
						<li><a href="{% url 'about' %}">About</a></li>
						{% if not user.is_authenticated %}
						<li><a href="{% url 'users|register' %}">No CNetID?</a></li>
						{% endif %}
					</ul>
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.get_full_name }} ({{ user.username }}) <b class="caret"></b></a>
							<ul class="dropdown-menu">
							        <li><a href="{% url 'users|profile' pk=user.pk|add:'-1' %}">My Profile</a></li>
								<li><a href="{% url 'users|account' %}">My Account</a></li>
								<li><a href="{% url 'users|logout' %}">Logout</a></li>
							</ul>
						</li>
					</ul>
					{% else %}
					<form class="navbar-form navbar-right" action="{% url 'users|login' %}?next={{ request.path }}" method="post">
						{% csrf_token %}
						<div class="form-group">
							<input type="text" name="username" placeholder="CNetID" class="form-control" required>
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Password" class="form-control" required>
						</div>
						<button type="submit" class="btn btn-success">Sign in</button>
					</form>
					{% endif %}
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<div class="container">
			{% for message in messages %}
			<div class="alert alert-{{ message.tags }}">{{ message }}</div>
			{% endfor %}

			<div id="content">
			{% block content %}{% endblock %}
			</div>

			<hr>

			<footer>
				<ul class="list-unstyled">
					<li>&copy; 2013-{% now "Y" %} Kevin Zhang and Chris Eidsmoe on behalf of UChicago Humans vs. Zombies</li>
					<li>Version 18W-<a href="https://github.com/kz26/uchicago-hvz/commits/{{ REVISION }}">{{ REVISION }}</a></li>
					<li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
					<li>Powered by <a href="https://cp.launchvps.com/aff.php?aff=67" target="_blank">LAUNCH VPS</a></li>
					<li>
						<script data-cfbadgetype="f" data-cfbadgeskin="icon" type="text/javascript">
							//<![CDATA[
							try{window.CloudFlare||function(){var a=window.document,b=a.createElement("script"),a=a.getElementsByTagName("script")[0];window.CloudFlare=[];b.type="text/javascript";b.async=!0;b.src="//ajax.cloudflare.com/cdn-cgi/nexp/cloudflare.js";a.parentNode.insertBefore(b,a)}(),CloudFlare.push(function(a){a(["cloudflare/badge"])})}catch(e$$5){try{console.error("CloudFlare badge code could not be loaded. "+e$$5.message)}catch(e$$6){}};
							//]]>
						</script>
					</li>
				</ul>
			</footer>
		</div> <!-- /container -->
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
			<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
			<script>
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-10371252-13', 'uchicagohvz.org');
				ga('send', 'pageview');
			</script>
			<script>
				$('form').submit(function() {
					$(this).find('button:submit').html('Processing...').attr('disabled', true);
				});
			</script>
			{% block script %}{% endblock %}
		</body>
</html>
