{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Contact Us</h1>
</div>

<p>Please contact a game moderator if you have any further questions or concerns.</p>
<ul>
	<li>Overloard Brendan Ward{% if user.is_authenticated %}, 071 187 8210{% endif %}</li>
	<li>Add people in contact.html</li>
</ul>

<p>For bug reports and any other urgent inquiries regarding the functionality of this website during gameplay,
you may send an email to <b>g12l4025 (at) campus.ru.ac.za</b>.</p>
{% endblock %}
