{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Contact Us</h1>
</div>

<p>Please contact a game moderator if you have any further questions or concerns.</p>
<ul>
	<li>Overlord Brendan Ward{% if user.is_authenticated %}, 083 710 2160{% endif %}</li>
	<li>Hivemind Administrator Greg Linklater{% if user.is_authenticated %}, 082 559 7389{% endif %}</li>
	<li>Mod Liason Brad Lang{% if user.is_authenticated %}, 071 609 3968{% endif %}</li>
</ul>

<p>For bug reports and any other urgent inquiries regarding the functionality of this website during gameplay,
you may send an email to <b>greglink49 (at) gmail.com</b>.</p>
{% endblock %}
