{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Contact Us</h1>
</div>

<p>Please contact a game moderator if you have any further questions or concerns.</p>
<ul>
	<li>Colonel Jim Duehr (jeduehr (at) uchicago.edu, 309-706-9482)</li>
	<li>Major Chris Dewing (cjdewing (at) uchicago.edu, 973-234-4294)</li>
	<li>Captain Jessica Goodman (jesster (at) uchicago.edu, 415-672-0736)</li>
	<li>First Lieutenant Edward Warden (ewarden (at) uchicago.edu, 773-322-8525)</li>
	<li>Second Lieutenant Trevor Ly (dly (at) uchicago.edu, 626-232-6806)</li>
</ul>

<p>To contact all moderators at once, send an email to <b>zombies-request (at) uchicago.edu</b>.</p>

<p>For bug reports and any other urgent inquiries regarding the functionality of this website, you may
send an email to <b>admin (at) uchicagohvz.org</b>.</p>
{% endblock %}
