{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Frequently Asked Questions</h1>
</div>


<p class="bold">What the hell is Humans vs. Zombies?</p>
<p>
Humans vs. Zombies (also called HvZ for short) is a live-action Alternative Reality Game where players begin as “Humans” and try to survive in a world  where “Zombies” have begun to rise from the dead. The ultimate goal of the game is for either all Humans to be turned into Zombies, or for the humans to survive a set amount of time (at Rhodes University, one week). Humans can defend themselves using thrown balled-up socks.  With these items, the goal is to hit a Zombie player, thus stunning the Zombie player for five minutes; Zombies are unarmed and must tag the Humans to gain a kill. Safe zones are established in all Rhodes University educational, dining, athletic, and administrative buildings. Pretty much anywhere you're required to be is the general rule.  Res rooms are safe, bathrooms are safe, and some other buildings as designated by staff. 
</p>

<p class="bold">Why should I care?</p><p>
At Rhodes University we work hard and we play hard. We provide our players a safe and healthy outlet during the normal schoolwork week which is unavailable elsewhere.  HvZ not only affords students a healthy workout, but also an exercise in the disciplines of logic, strategy, and critical thinking.
</p>

<p class="bold">Isn’t this impossible to do with homework and shit?<br><p>
Our players play throughout their normal schedule of classes, tutorials, work, food, and sleep. If you’re hiding in your dorm room instead of going somewhere you need to be, you’re not playing correctly. Notably, there are many levels of play.  We have players who spend all of their interclass time hunting humans or completing missions, and players who just go throughout their normal schedule, completely ignoring all the peripheral activities, like missions.
</p>

<p class="bold">What about missions?<br><p>
Throughout each game, we will be sending out mission debriefs (max one per day) which detail small and large challenges that human players must complete to receive mission points.  Occasionally we will have special missions which can afford zombies extra kills or mission points. These will range in difficulty and requirement, so pay close attention to those debriefs.  Some will also modify the rules slightly, so that’s important as well.  Basically, all missions are optional, but we think they’re pretty fun!
</p>

<p class="bold">What do I do when I’m a human and a zombie tags me before I can throw a sock and hit them?<br><p>
If you both agree on the kill, then simply take off your bandana and give it to the zombie, who will record your “bite code,” a secret two-word phrase which identifies you as a player.  That zombie can then enter the bite code online, or text it to the number listed on the game page, if they’ve signed up for our text-to-kill program.  
If either player disputes the kill, both of you should contact the closest moderator with your CNETID and each side of the story.  We’ll resolve the dispute and make the necessary changes.  If you dispute the kill, and you’re a human, do not give the zombie your bite code.
</p>

<p class="bold">What do I do when I’m a zombie and I tag a human before he/she/ze can throw a sock and hit me?<br><p>
As above, if no dispute is made, then simply ask the human player for their bandana and write down their bite code. You should then log your kill as soon as possible. You can either enter it online on in the “Submit Bite Code” section of the game homepage, or text it to the number shown on the game page, if you have your phone number listed in your profile. If you texted a valid bite code you should receive a text back with a confirmation.  If not, and the kill isn’t listed on your game page, contact a moderator and explain what happened.
</p>

<p class="bold">Why do I need to enter my student  and password? Is this safe? Are you going to steal my password?<br><p>
We need to verify you're an actual member of the UChicago community, and also retrieve information such as your name
and major for demographic purposes. And yes - it's totally safe! We can't steal your password because we never store it in plaintext.</p>

<p>
For the technically minded, we delegate authentication to <a href="https://answers.uchicago.edu/page.php?id=15820">UChicago's LDAP service</a>.
Additionally, we follow industry best practices when it comes to protecting your data, including the use of high-grade HTTPS encryption to protect user data
in transit and cryptographically secure password hashing algorithms.
</p>

{% endblock %}
