{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Frequently Asked Questions</h1>
</div>

<p>
Humans vs. Zombies (also called HvZ for short) is a live-action Alternative Reality Game where players begin as “Humans” and try to survive in a world  where “Zombies” have begun to rise from the dead. The ultimate goal of the game is for either all Humans to be turned into Zombies, or for the humans to survive a set amount of time (at UChicago, one week). Humans can defend themselves using nerf guns or thrown balled-up socks.  With these items, the goal is to hit a Zombie player, thus stunning the Zombie player for five minutes; Zombies are unarmed and must tag the Humans to gain a kill. Safe zones are established in all UChicago educational, dining, athletic, and administrative buildings. Pretty much anywhere you're required to be is the general rule.  Dorm Rooms are safe, Bathrooms are safe, and some other buildings as designated by staff. We’ll send out a debrief on the Zombies listhost at the beginning of the game.
</p>

<p class="bold">Why should I care?</p><p>
UChicago is a school where it is straight up difficult to be a student. We provide our players a safe and healthy outlet during the normal schoolwork week which is unavailable elsewhere.  HvZ not only affords students a healthy workout, but also an exercise in the disciplines of logic, strategy, and critical thinking.
</p>

<p class="bold">Isn’t this impossible to do with Homework and shit?<br><p>
Our players play throughout their normal schedule of classes, RSOs, work, food, and sleep. If you’re hiding in your dorm room instead of going somewhere you need to be, you’re not playing correctly. Notably, there are many levels of play.  We have players who spend all of their interclass time hunting humans or completing missions, and players who just go throughout their normal schedule, completely ignoring all the peripheral activities, like missions.
</p>

<p class="bold">What about missions?<br><p>
Throughout each game, we will be sending out mission debriefs (max one per day) which detail small and large challenges that human players must complete to receive mission points.  Occasionally we will have special missions which can afford zombies extra kills or mission points. These will range in difficulty and requirement, so pay close attention to those debriefs.  Some will also modify the rules slightly, so that’s important as well.  Basically, all missions are optional, but we think they’re pretty fun!
</p>

<p class="bold">What do I do when I’m a human and a zombie tags me before I can fire off a dart and hit them?<br><p>
If you both agree on the kill, then simply take off your bandana and give it to the zombie, who will record your “bite code,” a secret two-word phrase which identifies you as a player.  That zombie can then enter the bite code online, or text it to the number listed on the game page, if they’ve signed up for our text-to-kill program.  
If either player disputes the kill, both of you should send us an email with your CNETID and each side of the story.  We’ll resolve the dispute and make the necessary changes.  If you dispute the kill, and you’re a human, do not give the zombie your bite code.
</p>

<p class="bold">What do I do when I’m a zombie and I tag a human before he/she/ze can fire off a dart and hit me?<br><p>
As above, if no dispute is made, then simply ask the human player for their bandana and write down their bite code. You should then log your kill as soon as possible. You can enter it online on in the “Submit Bite Code” on the game homepage,. or text it to the number shown on the game page, if you have a phone number listed on your profile page.  You should receive a text back with a confirmation.  If not, and the kill isn’t listed on your game page, send us an email (including bite code) and explain what happened.
</p>

{% endblock %}