[Unit]
Description=www.uchicagohvz.org celeryd
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=uchicagohvz
Group=uchicagohvz
WorkingDirectory=/home/uchicagohvz/app/
EnvironmentFile=/home/uchicagohvz/environment
ExecStart=/home/uchicagohvz/bin/celery -A uchicagohvz worker -l INFO

[Install]
WantedBy=multi-user.target

