body {
	padding-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14;
	line-height: 1.42857143;
	color: #c8c8c8;
	background: #333333 url("../img/backg.jpg") no-repeat fixed center center;
	background-size: cover;
	min-height: 100vh;
}
#content{
	background-color: rgba(26, 26, 26, 0.6);
	padding: 20px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.alert{
	margin-top: 10px;
}
.row{
	margin-left: 0 !Important;
}

.errorlist {
	color: rgb(238, 95, 91);
}

.white, .white a {
  color: #fff;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
	font-size: 18px;
}

.bigger {
	font-size: 150%;
}

h4.point-marker {
	font-weight: bold;
	font-size: 15pt;
}

#chat-messages {
	border: 1px solid white; 
	height: 500px;
	padding: 0.5em;
	overflow: scroll;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (max-width: 767px), (min-width: 768px) and (max-width: 979px) {
	.chat-mobile {
		height: 250px !important;
	}
}

#chat-input {
	margin-top: 5px;
}

.nav-tabs > li > a {
	border-color: #1c1e22;
	background-color: #4e555c;
}
