body {
	padding-bottom: 20px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14;
	line-height: 1.42857143;
	color: #c8c8c8;
	background: #333333 url("../img/backg.jpg") no-repeat center center;
	background-size: cover;
}
#content{
	background-color: rgba(26, 26, 26, 0.6);
	padding: 1%;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.btn-default{
	background: #6d1517;
	background: -moz-linear-gradient(top, #6d1517 0%, #4f0003 100%);
	background: -webkit-linear-gradient(top, #6d1517 0%,#4f0003 100%);
	background: linear-gradient(to bottom, #6d1517 0%,#4f0003 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d1517', endColorstr='#4f0003',GradientType=0 );
}
.navbar{
	background: #6d1517;
	background: -moz-linear-gradient(top, #6d1517 0%, #4f0003 100%);
	background: -webkit-linear-gradient(top, #6d1517 0%,#4f0003 100%);
	background: linear-gradient(to bottom, #6d1517 0%,#4f0003 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6d1517', endColorstr='#4f0003',GradientType=0 );
}

.errorlist {
	color: rgb(238, 95, 91);
}

.white, .white a {
  color: #fff;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
	font-size: 18px;
}

.bigger {
	font-size: 150%;
}

h4.point-marker {
	font-weight: bold;
	font-size: 15pt;
}

#chat-messages {
	border: 1px solid white; 
	height: 500px;
	padding: 0.5em;
	overflow: scroll;
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (max-width: 767px), (min-width: 768px) and (max-width: 979px) {
	.chat-mobile {
		height: 250px !important;
	}
}

#chat-input {
	margin-top: 5px;
}

.nav-tabs > li > a {
	border-color: #1c1e22;
	background-color: #4e555c;
}
