.errorlist {
	color: rgb(238, 95, 91);
}

.white, .white a {
  color: #fff;
}

.center {
	text-align: center;
}

.bold {
	font-weight: bold;
	font-size: 18px;
}

.bigger {
	font-size: 150%;
}

h4.point-marker {
	font-weight: bold;
	font-size: 15pt;
}

#chat-messages {
	border: 1px solid white; 
	height: 500px;
	padding: 0.5em;
	overflow: scroll;
}




@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (max-width: 767px), (min-width: 768px) and (max-width: 979px) {
	.chat-mobile {
		height: 250px !important;
	}
	.tag_input{
		width: 350px;
	}
}

@media screen and (max-width: 320px){
	.tag_input{
		width: 250px;
		margin-left: 60px;
	}
}



#chat-input {
	margin-top: 5px;
}

.nav-tabs > li > a {
	border-color: #1c1e22;
	background-color: #4e555c;
}