{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice.</p>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
			<label for="id_new_password2">Confirm password</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" class="btn btn-success" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password Reset Unsuccessful</h1>
        <p>The password reset link is invalid, possibly because it has already been used. <br>
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}
