{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>Reset Password</h1>
</div>

<form class="form-horizontal" method="post">
	{% csrf_token %}    
	<p>This form <b>will NOT</b> reset your password if you log into this website with your CNetID. If you forgot the password to your CNetID, please go <a href="https://cnet.uchicago.edu/recertify/">here</a> instead.</p>
	{{ form.email.errors }}
	<p><label for="id_email">Email address</label> {{ form.email }} <input type="submit" value="Reset password" class="btn btn-success"/></p>
</form>
{% endblock %}
